/*MAIN CSS */

body {
  font-family: "Courier New";
  font-variant: small-caps;
  background: lightblue;
  /* margin: 0 */
}

h1 {
  font-size: 20px;
  display: block;
}

ul {
  list-style-type: none;
  /*  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;	*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #lightblue;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#liTtl {
  font-size: 50px;
  float: left;
}

.content {
  font-size: 50px;
  text-align: center;
  padding: 0px;

}

.footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 100%;
  background-color: #9dd0e1;
  text-align: right;
  color: white;
  font-family: arial;
  font-size: 16px;
  padding: 0px;
}

/*CSS for our main button */
.button {
  background-color: #ffffff;
  /* Green */
  border: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 40px;
  font-family: "Courier New";
  font-variant: small-caps;
  text-decoration: underline;
  color: grey;
}

.button:hover {
  color: darkslategrey;
  box-shadow: 5px 5px grey;
}


/* MODAL CSS */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#modal_msg {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}


/*MAPS CSS */
#map {
  height: 500px;
  background-color: grey;
}

#panel {
  height: 500px;
  width: null;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: all .2s ease-out;
  font-size: 15px;
  word-wrap: break-word
}

#panel>h1 {
  font-size: 0.9em;
}

#panel>p {
  font-size: 0.8em;

}

.open {
  width: 13%;
}

/* Styling for place details */
.hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
}

.place,
p {
  font-family: 'open sans', arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
}

.details {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: cadetblue;
  word-wrap: break-word
}


/* for the under places list */
#place_list {
  width: 100%; 
  height: 60px;  
  display: flex;
  flex-flow: row;
  padding-top: 7px; 
  justify-content: center;
  align-items: center;

}

#lists {
  display: flex;
  flex-direction: row;
}

#lists > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 19%;
  line-height: 24px;
  font-size: 0.3em;
  font-family:sans-serif;
  border-right: 1px dotted #111;
  cursor: pointer;
}